
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}
em {
  font-size: 1.5rem;

}
/* Headings */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #6699CC;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
  font-weight: 200;
}

/* Title Section */

#title {
  background-color: #6699CC;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(12deg);
  position: absolute;
  right: 30%;

}

/* Features Section */

#features {


}

.feature-title {

  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #66CCCC;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #6699CC;
}

/* de chefs */

#de_chefs {
  background-color: #66CCCC;
  color: #8f8f8f;

}
.border-syl{
  color: #fff;

  }

.stats{
  margin: auto;
  font-size: 0.8rem;
}
.contact-chef{
  margin: auto;
  padding-top: 3%;
}
.contact-btn-chef{
  width: 240px;


}


.testimonial-text {
  font-size: 1.3rem;
  line-height: 1.5;


}

.kok-foto {
  width: 90%;
  padding: 20px;
  margin: auto;
}



#press {
  background-color: #66CCCC;
  padding-bottom: 3%;
}

.press-logo {
  width: 7%;
  margin: 20px 20px 50px;
}
.sm{
  width: 4%;
}

/* Pricing Section */

#overons {
  padding: 100px;
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .text-colm{
  text-align: center;

  }
}
